### **Carregar os dados do Excel**

Use o Pandas para ler o arquivo Excel:
```python
import pandas as pd
import sqlite3

# Passo 1: Carregar os dados do Excel
caminho_excel = r"C:\Users\dino.grejo\OneDrive - VIVEO\Documentos\python\cod_fornecedores.xlsx"  # Substitua pelo caminho do seu arquivo

# Ler o arquivo Excel, for√ßando as colunas CNPJ_REMETENTE, cod e loja como texto
df = pd.read_excel(caminho_excel, dtype={
    'CNPJ_REMETENTE': str,  # For√ßar como texto
    'cod': str,             # For√ßar como texto
    'loja': str             # For√ßar como texto
})

# Substituir 'nan' por strings vazias ('') nas colunas cod e loja
df['cod'] = df['cod'].replace('nan', '')
df['loja'] = df['loja'].replace('nan', '')

# Exibir as primeiras linhas para verificar os dados
print(df.head())

In [ ]:
import pandas as pd
import sqlite3

# Passo 1: Carregar os dados do Excel
caminho_excel = r"C:\Users\dino.grejo\OneDrive - VIVEO\Documentos\python\cod_fornecedores.xlsx"  # Substitua pelo caminho do seu arquivo

# Ler o arquivo Excel, for√ßando as colunas CNPJ_REMETENTE, cod e loja como texto
df = pd.read_excel(caminho_excel, dtype={
    'CNPJ_REMETENTE': str,  # For√ßar como texto
    'cod': str,             # For√ßar como texto
    'loja': str             # For√ßar como texto
})

# Substituir 'nan' por strings vazias ('') nas colunas cod e loja
df['cod'] = df['cod'].replace('nan', '')
df['loja'] = df['loja'].replace('nan', '')

# Exibir as primeiras linhas para verificar os dados
print(df.head())

### **Conectar ao banco de dados SQLite**
 
O SQLite √© uma biblioteca embutida no Python, ent√£o voc√™ pode us√°-la diretamente. Vamos criar um banco de dados e uma tabela para armazenar os dados do Excel.

```python
import sqlite3

# Conectar ao banco de dados (ou criar se n√£o existir)
conn = sqlite3.connect('fornecedores.db')

# Criar um cursor para executar comandos SQL
cursor = conn.cursor()

In [ ]:
import sqlite3

# Conectar ao banco de dados (ou criar se n√£o existir)
conn = sqlite3.connect('fornecedores.db')

# Criar um cursor para executar comandos SQL
cursor = conn.cursor()

### **Criar a tabela no banco de dados**

Agora, vamos criar uma tabela no banco de dados SQLite. O nome da tabela ser√° fornecedores, e as colunas ser√£o baseadas nas colunas do DataFrame do Pandas.

Substitua nome, idade, cidade, etc., pelos nomes das colunas do seu arquivo Excel.
```python
# Nome da tabela
nome_tabela = "fornecedores"

# Criar a tabela com os tipos corretos
cursor.execute(f'''
CREATE TABLE IF NOT EXISTS {nome_tabela} (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    REMETENTE TEXT,
    CNPJ_REMETENTE TEXT,  -- Definido como TEXT para preservar zeros √† esquerda
    COD TEXT,             -- Definido como TEXT para preservar zeros √† esquerda
    LOJA TEXT             -- Definido como TEXT para preservar zeros √† esquerda
);
''')

# Confirmar a cria√ß√£o da tabela
conn.commit()

In [ ]:
# Nome da tabela
nome_tabela = "fornecedores"

# Criar a tabela com os tipos corretos
cursor.execute(f'''
CREATE TABLE IF NOT EXISTS {nome_tabela} (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    REMETENTE TEXT,
    CNPJ_REMETENTE TEXT,  -- Definido como TEXT para preservar zeros √† esquerda
    COD TEXT,             -- Definido como TEXT para preservar zeros √† esquerda
    LOJA TEXT             -- Definido como TEXT para preservar zeros √† esquerda
);
''')

# Confirmar a cria√ß√£o da tabela
conn.commit()

### **Inserir os dados do Excel no banco de dados**
 
Agora, vamos inserir os dados do DataFrame (que veio do Excel) na tabela do banco de dados SQLite.

```python
# Inserir os dados na tabela
df.to_sql(nome_tabela, conn, if_exists='replace', index=False)

print(f"Dados exportados para a tabela '{nome_tabela}' no banco de dados!")

In [ ]:
# Inserir os dados na tabela
df.to_sql(nome_tabela, conn, if_exists='replace', index=False)

print(f"Dados exportados para a tabela '{nome_tabela}' no banco de dados!")

### **Consultar os dados no banco de dados**

Agora que os dados est√£o no banco de dados, voc√™ pode consult√°-los usando o Pandas ou o SQLite diretamente.

### **Usando o Pandas:**

```python
# Consultar os dados da tabela
query = "SELECT * FROM fornecedores"
df_consulta = pd.read_sql(query, conn)

# Exibir os dados
df_consulta.head()

In [ ]:
# Consultar os dados da tabela
query = "SELECT * FROM fornecedores"
df_consulta = pd.read_sql(query, conn)

# Exibir os dados
df_consulta.head()

### **Usando o SQLite diretamente:**

```python
# Executar uma consulta SQL
cursor.execute("SELECT * FROM fornecedores")

# Recuperar os resultados
resultados = cursor.fetchall()

# Exibir os resultados
for linha in resultados:
    print(linha)

In [ ]:
# Executar uma consulta SQL
cursor.execute("SELECT * FROM fornecedores")

# Recuperar os resultados
resultados = cursor.fetchall()

# Exibir os resultados
for linha in resultados:
    print(linha)

### **Fechar a conex√£o com o banco de dados**

Quando terminar de trabalhar com o banco de dados, n√£o se esque√ßa de fechar a conex√£o:

```python
conn.close()

In [2]:
conn.close()

### **Conectar ao banco de dados**

Primeiro, precisamos conectar ao banco de dados SQLite usando o `sqlite3` (biblioteca embutida no Python) ou o `sqlalchemy` (recomendado para integra√ß√£o com o Pandas).

In [1]:
import sqlite3
import pandas as pd

# Conectar ao banco de dados (substitua 'fornecedores.db' pelo caminho do seu arquivo .db)
conn = sqlite3.connect('fornecedores.db')

# Criar um cursor para executar comandos SQL
cursor = conn.cursor()

### **Consultar os dados**

Voc√™ pode consultar os dados diretamente usando SQL ou carregar os dados em um DataFrame do Pandas para manipula√ß√£o.

### **Consultar usando SQL**

```python
# Consultar todos os dados da tabela fornecedores
cursor.execute("SELECT * FROM fornecedores")
resultados = cursor.fetchall()

# Exibir os resultados
for linha in resultados:
    print(linha)

In [ ]:
# Consultar todos os dados da tabela fornecedores
cursor.execute("SELECT * FROM fornecedores") #Alterar o codigo de consulta SQL
resultados = cursor.fetchall()

# Exibir os resultados
for linha in resultados:
    print(linha)

### **Consultar usando Pandas**

```python
# Carregar os dados da tabela fornecedores em um DataFrame
query = "SELECT * FROM fornecedores"
df = pd.read_sql(query, conn)

# Exibir as primeiras linhas do DataFrame
print(df.head())

In [ ]:
# Carregar os dados da tabela fornecedores em um DataFrame
query = "SELECT * FROM fornecedores"
df = pd.read_sql(query, conn)

# Exibir as primeiras linhas do DataFrame
print(df.head())

### **Alterar os dados**

Voc√™ pode alterar os dados no banco de dados usando comandos SQL ou manipulando o DataFrame e enviando as altera√ß√µes de volta para o banco de dados.

### **Alterar usando SQL**

```python
# Atualizar um registro na tabela fornecedores
cursor.execute("UPDATE fornecedores SET loja = '0002' WHERE cod = '02218'")

# Confirmar a altera√ß√£o
conn.commit()

# Verificar a altera√ß√£o
cursor.execute("SELECT * FROM fornecedores WHERE cod = '02218'")
print(cursor.fetchall())

In [ ]:
# Atualizar um registro na tabela fornecedores
cursor.execute("UPDATE fornecedores SET loja = '0002' WHERE cod = '02218'")

# Confirmar a altera√ß√£o
conn.commit()

# Verificar a altera√ß√£o
cursor.execute("SELECT * FROM fornecedores WHERE cod = '02218'")
print(cursor.fetchall())

### **Alterar usando Pandas**

```python
# Carregar os dados da tabela fornecedores em um DataFrame
df = pd.read_sql("SELECT * FROM fornecedores", conn)

# Alterar um valor no DataFrame
df.loc[df['cod'] == '02218', 'loja'] = '0002'

# Enviar as altera√ß√µes de volta para o banco de dados
df.to_sql('fornecedores', conn, if_exists='replace', index=False)

# Verificar a altera√ß√£o
print(df[df['cod'] == '02218'])

In [ ]:
# Carregar os dados da tabela fornecedores em um DataFrame
query = "SELECT * FROM fornecedores"
df = pd.read_sql(query, conn)

# Alterar um valor no DataFrame
df.loc[df['cod'] == '02218', 'loja'] = '0002'

# Enviar as altera√ß√µes de volta para o banco de dados
df.to_sql('fornecedores', conn, if_exists='replace', index=False)

# Verificar a altera√ß√£o
print(df[df['cod'] == '02218'])

### **Inserir novos dados**

Voc√™ pode inserir novos dados diretamente usando SQL ou adicionar linhas ao DataFrame e envi√°-las para o banco de dados.

### **Inserir usando SQL**

```python
# Inserir um novo registro na tabela fornecedores
cursor.execute("INSERT INTO fornecedores (REMETENTE, CNPJ_REMETENTE, cod, loja) VALUES ('Novo Fornecedor', '12345678901234', '99999', '0001')")

# Confirmar a inser√ß√£o
conn.commit()

# Verificar a inser√ß√£o
cursor.execute("SELECT * FROM fornecedores WHERE cod = '99999'")
print(cursor.fetchall())

In [ ]:
# Inserir um novo registro na tabela fornecedores
cursor.execute("INSERT INTO fornecedores (REMETENTE, CNPJ_REMETENTE, cod, loja) VALUES ('Novo Fornecedor', '12345678901234', '99999', '0001')")

# Confirmar a inser√ß√£o
conn.commit()

# Verificar a inser√ß√£o
cursor.execute("SELECT * FROM fornecedores WHERE cod = '99999'")
print(cursor.fetchall())

### **Inserir usando Pandas**

```python
# Criar um novo DataFrame com os dados a serem inseridos
novo_fornecedor = pd.DataFrame({
    'REMETENTE': ['Novo Fornecedor'],
    'CNPJ_REMETENTE': ['12345678901234'],
    'cod': ['99999'],
    'loja': ['0001']
})

# Adicionar os novos dados ao DataFrame existente
df = pd.read_sql("SELECT * FROM fornecedores", conn)
df = pd.concat([df, novo_fornecedor], ignore_index=True)

# Enviar os dados atualizados de volta para o banco de dados
df.to_sql('fornecedores', conn, if_exists='replace', index=False)

# Verificar a inser√ß√£o
print(df[df['cod'] == '99999'])

In [ ]:
# Criar um novo DataFrame com os dados a serem inseridos
novo_fornecedor = pd.DataFrame({
    'REMETENTE': ['Novo Fornecedor'],
    'CNPJ_REMETENTE': ['12345678901234'],
    'cod': ['99999'],
    'loja': ['0001']
})

# Adicionar os novos dados ao DataFrame existente
df = pd.read_sql("SELECT * FROM fornecedores", conn)
df = pd.concat([df, novo_fornecedor], ignore_index=True)

# Enviar os dados atualizados de volta para o banco de dados
df.to_sql('fornecedores', conn, if_exists='replace', index=False)

# Verificar a inser√ß√£o
print(df[df['cod'] == '99999'])

### **Excluir dados**

Voc√™ pode excluir dados diretamente usando SQL ou filtrar o DataFrame e enviar as altera√ß√µes de volta para o banco de dados.

### **Excluir usando SQL**

```python
# Excluir um registro da tabela fornecedores
cursor.execute("DELETE FROM fornecedores WHERE cod = '99999'")

# Confirmar a exclus√£o
conn.commit()

# Verificar a exclus√£o
cursor.execute("SELECT * FROM fornecedores WHERE cod = '99999'")
print(cursor.fetchall())

In [ ]:
# Excluir um registro da tabela fornecedores
cursor.execute("DELETE FROM fornecedores WHERE cod = '99999'")

# Confirmar a exclus√£o
conn.commit()

# Verificar a exclus√£o
cursor.execute("SELECT * FROM fornecedores WHERE cod = '99999'")
print(cursor.fetchall())

### **Excluir usando Pandas**

```python
# Carregar os dados da tabela fornecedores em um DataFrame
df = pd.read_sql("SELECT * FROM fornecedores", conn)

# Filtrar os dados para excluir um registro
df = df[df['cod'] != '99999']

# Enviar os dados atualizados de volta para o banco de dados
df.to_sql('fornecedores', conn, if_exists='replace', index=False)

# Verificar a exclus√£o
print(df[df['cod'] == '99999'])

In [ ]:
# Carregar os dados da tabela fornecedores em um DataFrame
df = pd.read_sql("SELECT * FROM fornecedores", conn)

# Filtrar os dados para excluir um registro
df = df[df['cod'] != '99999']

# Enviar os dados atualizados de volta para o banco de dados
df.to_sql('fornecedores', conn, if_exists='replace', index=False)

# Verificar a exclus√£o
print(df[df['cod'] == '99999'])

### **Fechar a conex√£o**

Sempre feche a conex√£o com o banco de dados quando terminar de us√°-lo:

```python
conn.close()

In [ ]:
conn.close()

### **Resumo:**

- **Consultar dados:** Use `cursor.execute()` para SQL ou `pd.read_sql()` para Pandas.
- **Alterar dados:** Use `UPDATE` em SQL ou manipule o DataFrame e use `to_sql()`.
- **Inserir dados:** Use `INSERT` em SQL ou adicione linhas ao DataFrame e use `to_sql()`.
- **Excluir dados:** Use `DELETE` em SQL ou filtre o DataFrame e use `to_sql()`.

## **Passo a Passo para Convers√£o .DB SQLite em Excel**



Sim! Voc√™ pode facilmente converter um banco de dados SQLite (`fornecedores.db`) em uma planilha Excel (`.xlsx`) usando Python com as bibliotecas `sqlite3` e `pandas`. Siga estes passos:

#### 1. **Conectar ao Banco SQLite e Ler os Dados**
```python
import sqlite3
import pandas as pd

# Conectar ao banco de dados
conn = sqlite3.connect('fornecedores.db')

# Ler os dados da tabela (substitua 'nome_da_tabela' pelo nome real)
query = "SELECT * FROM nome_da_tabela"
df = pd.read_sql_query(query, conn)

# Fechar a conex√£o
conn.close()
```

#### 2. **Salvar como Excel**
```python
# Salvar em arquivo Excel
df.to_excel('fornecedores.xlsx', index=False, sheet_name='Fornecedores')
```

#### 3. **Verifica√ß√£o**
- O arquivo `fornecedores.xlsx` ser√° criado no mesmo diret√≥rio do script.
- Abra-o no Excel para confirmar os dados.

---

### **Exemplo Completo**
```python
import sqlite3
import pandas as pd

# 1. Conectar e ler dados
conn = sqlite3.connect('fornecedores.db')
df = pd.read_sql_query("SELECT * FROM fornecedores", conn)  # Substitua 'fornecedores' pelo nome da sua tabela
conn.close()

# 2. Exportar para Excel
df.to_excel('fornecedores.xlsx', index=False)

print("Convers√£o conclu√≠da! Arquivo 'fornecedores.xlsx' gerado.")
```

---

### **Dicas Importantes**
1. **Nome da Tabela**:
   - Se voc√™ n√£o souber o nome da tabela no banco de dados, use:
     ```python
     cursor = conn.cursor()
     cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
     print(cursor.fetchall())  # Lista todas as tabelas
     ```

2. **M√∫ltiplas Planilhas**:
   - Para salvar tabelas diferentes em abas do mesmo Excel:
     ```python
     with pd.ExcelWriter('fornecedores_completo.xlsx') as writer:
         df1.to_excel(writer, sheet_name='Fornecedores', index=False)
         df2.to_excel(writer, sheet_name='Produtos', index=False)
     ```

3. **Formata√ß√£o**:
   - Use `openpyxl` (instalado automaticamente com `pandas`) para personalizar o Excel (cores, f√≥rmulas, etc.).

4. **Ambiente Virtual**:
   - Certifique-se de que o ambiente virtual est√° ativo e que `pandas` est√° instalado:
     ```powershell
     pip install pandas openpyxl
     ```

---

### **Problemas Comuns e Solu√ß√µes**
- **Erro "No such table"**: Verifique o nome correto da tabela no banco de dados.
- **Erro de permiss√£o**: Feche o arquivo `.db` ou `.xlsx` antes de executar o script.
- **Dados truncados**: Se a planilha estiver cortando dados, aumente o tamanho das colunas no Excel ap√≥s a exporta√ß√£o.

---

### **Resultado Final**
Voc√™ ter√° um arquivo Excel organizado, pronto para an√°lise ou compartilhamento. Se precisar de ajuda adicional, √© s√≥ perguntar! üòä

In [1]:
import sqlite3
import pandas as pd

# 1. Conectar e ler dados
conn = sqlite3.connect('fornecedores.db')
df = pd.read_sql_query("SELECT * FROM fornecedores", conn)  # Substitua 'fornecedores' pelo nome da sua tabela
conn.close()

# 2. Exportar para Excel
df.to_excel('fornecedores.xlsx', index=False)

print("Convers√£o conclu√≠da! Arquivo 'fornecedores.xlsx' gerado.")

Convers√£o conclu√≠da! Arquivo 'fornecedores.xlsx' gerado.